@{
    ViewData["Title"] = "Search";
}

<h1> Search </h1>


<input id="searchBar" type="text" placeholder="Search" >
<ul class="list-group" id="results"></ul>

@section scripts {
    <script>
        $("#searchBar").on("input", function () {
            var inputText = $(this).val();
            
            if (inputText.length >= 2) {
                $.get('@Url.Action("SearchAutoComplete")', { searchInput: inputText }, function(data) {
                    $("#results").empty();
                    
                    for (i = 0; i < data.length; i++) 
                    { 
                        $("#results").append('<a href="#" class="list-group-item list-group-item-action" ' +
                            'id="' + data[i].id + '">' + data[i].address + "</li>");
                    }
                    
                    if ($("#results").is(":hidden"))
                    {
                        $("#results").show();
                    }
                });
            }
        });

        $(document).on("click", "#results > a", function (){
            $("#searchBar").val($(this).text);
            $("#results").empty().hide();
            
            
            /*
            $.post('Url.Action()', $(this).id, function(data) 
            {
                // FUNCTION GOES HERE
            });
            */
        });
        
    </script>
}