@* Attach model *@

@{
    ViewData["Title"] = "Add a Vehicle";
}

<h1>Add A Vehicle</h1>

<form method="post" enctype="multipart/form-data" id="form">
    
    <div class="form-group">
        <label>Registration</label>
        <input class="form-control"/>
    </div>
    <div class="form-group">
        <label for="makeSelect">Make</label>
        <select class="form-control" id="makeSelect">
            <option>Toyota<</option>
        </select>
    </div>
    <div class="form-group">
        <label for="modelSelect">Model</label>
        <select class="form-control" id="modelSelect">
            <option>Camry</option>
        </select>
    </div>
    <div class="form-group">
        <label for="colourSelect">Colour</label>
        <select class="form-control" id="colourSelect">
            <option>Blue</option>
        </select>
    </div>
    
    <button type="submit" class="btn btn-primary mt-1">Submit</button>
</form>