@model VehicleDTO

@{
    ViewData["Title"] = "Add a Vehicle";
}

<h1>Add A Vehicle</h1>

<form method="post" enctype="multipart/form-data" id="form">
    
    <div class="form-group">
        <label asp-for="Registration"></label>
        <input class="form-control" asp-for="Registration"/>
        <span asp-validation-for="Registration" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Make"></label>
        <select class="form-control" id="makeSelect" asp-for="Make">
            <option value="">--- Select an Option ---</option>
        </select>
        <span asp-validation-for="Make" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label  asp-for="Model"></label>
        <select class="form-control" id="modelSelect" asp-for="Model">
            <option value="">--- Select an Option ---</option>
        </select>
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label  asp-for="Color"></label>
        <select class="form-control" id="colourSelect" asp-for="Color">
            <option value="">--- Select an Option ---</option>
            <option>Aluminum</option>
            <option>Beige</option>
            <option>Black</option>
            <option>Blue</option>
            <option>Brown</option>
            <option>Bronze</option>
            <option>Claret</option>
            <option>Copper</option>
            <option>Cream</option>
            <option>Gold</option>
            <option>Gray</option>
            <option>Green</option>
            <option>Maroon</option>
            <option>Metallic</option>
            <option>Navy</option>
            <option>Orange</option>
            <option>Pink</option>
            <option>Purple</option>
            <option>Red</option>
            <option>Rose</option>
            <option>Rust</option>
            <option>Silver</option>
            <option>Tan</option>
            <option>Turquoise</option>
            <option>White</option>
            <option>Yellow</option>
        </select>
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary mt-1">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>

    <script>
        var carData = {
    "Alfa Romeo": [
        "1300",
        "147",
        "155",
        "156",
        "159",
        "1600",
        "164",
        "166",
        "1750",
        "2000",
        "4C",
        "6C",
        "Alfa 33",
        "Alfa 75",
        "Alfetta",
        "Brera",
        "Giulia",
        "Giulietta",
        "Gran Sport",
        "GT",
        "GTV",
        "MiTo",
        "Montreal",
        "Spider",
        "Stelvio"
    ],
    "Audi": [
        "80",
        "A1",
        "A2",
        "A3",
        "A4",
        "A5",
        "A6",
        "A7",
        "A8",
        "allroad",
        "Cabriolet",
        "Q2",
        "Q3",
        "Q5",
        "Q7",
        "Q8",
        "R8",
        "RS Q3",
        "RS3",
        "RS4",
        "RS5",
        "RS6",
        "RS7",
        "S1",
        "S3",
        "S4",
        "S5",
        "S6",
        "S7",
        "S8",
        "SQ5",
        "SQ7",
        "TT",
        "V8"
    ],
    "BMW": [
        "(no group)",
        "1 Series",
        "2 Series",
        "3 Series",
        "4 Series",
        "5 Series",
        "6 Series",
        "7 Series",
        "8 Series",
        "i Series",
        "M Models",
        "X Models",
        "Z Models"
    ],
    "Chevrolet": [
        "3100",
        "Apache",
        "Avalanche",
        "Bel Air",
        "Biscayne",
        "Blazer",
        "C10",
        "C20",
        "C30",
        "Camaro",
        "Caprice",
        "Chevelle",
        "Corvette",
        "El Camino",
        "G10",
        "Impala",
        "International",
        "K20",
        "Kommando",
        "Master",
        "Nova",
        "Pickup",
        "Silverado",
        "Standard",
        "Suburban",
        "Superior",
        "Two-Ten"
    ],
    "Citroen": [
        "2CV",
        "Berlingo",
        "BX",
        "C2",
        "C3",
        "C4",
        "C4 Aircross",
        "C4 Cactus",
        "C4 Picasso",
        "C5",
        "C6",
        "CX2500",
        "D",
        "Dispatch",
        "DS-21",
        "DS-23",
        "DS3",
        "DS4",
        "DS5",
        "Grand C4 Picasso",
        "Light 15",
        "SM",
        "Xantia",
        "Xsara"
    ],
    "Daewoo": [
        "1.5i",
        "BH090L",
        "BH117",
        "Cielo",
        "Kalos",
        "Lacetti",
        "Lanos",
        "Leganza",
        "Matiz",
        "Nubira"
    ],
    "Daihatsu": [
        "Applause",
        "Charade",
        "Copen",
        "Cuore",
        "Delta",
        "Feroza",
        "Feroza II",
        "Handi",
        "Hi - Jet",
        "Move",
        "Sirion",
        "Terios",
        "Wake",
        "YRV"
    ],
    "Datsun": [
        "1200",
        "120Y",
        "1600",
        "180B",
        "2000 Sports",
        "200B",
        "240Z",
        "260Z",
        "280ZX",
        "620",
        "Bluebird",
        "Fairlady",
        "Sunny"
    ],
    "Ferrari": [
        "308",
        "328",
        "348",
        "360",
        "365",
        "400",
        "456M",
        "458 Italia",
        "458 Speciale",
        "458 Spider",
        "488 GTB",
        "488 Spider",
        "512",
        "512tr",
        "550 Maranello",
        "575 Maranello",
        "599 Fiorano",
        "612 Scaglietti",
        "812 Superfast",
        "California",
        "Dino",
        "F12berlinetta",
        "F355",
        "F40",
        "F430",
        "FF",
        "GTC4Lusso",
        "Mondial",
        "Portofino",
        "Superamerica",
        "Testarossa"
    ],
    "Fiat": [
        "124",
        "128",
        "130",
        "1500",
        "2300",
        "500",
        "500C",
        "500X",
        "600",
        "850",
        "Doblo",
        "Ducato",
        "Freemont",
        "Panda",
        "Punto",
        "Regata",
        "Ritmo",
        "Scudo",
        "Superbrava",
        "X1/9"
    ],
    "Ford": [
        "Bronco",
        "Capri",
        "Corsair",
        "Cortina",
        "Cougar",
        "Courier",
        "Custom",
        "Customline",
        "De Luxe",
        "Econoline",
        "Econovan",
        "EcoSport",
        "Endura",
        "Escape",
        "Escort",
        "Everest",
        "Explorer",
        "F-1",
        "F100",
        "F150",
        "F250",
        "F350",
        "F450",
        "Fairlane",
        "Fairmont",
        "Falcon",
        "Falcon Ute",
        "Festiva",
        "Fiesta",
        "Focus",
        "Freda",
        "Galaxie",
        "GPW",
        "GT",
        "GT40",
        "Ka",
        "Kuga",
        "Landau",
        "Laser",
        "LTD",
        "M151A2",
        "Mainline",
        "Maverick",
        "Model A",
        "Model B",
        "Model T",
        "Mondeo",
        "Mustang",
        "Probe",
        "Ranger",
        "Shelby",
        "Sierra",
        "Taurus",
        "TE50",
        "Telstar",
        "Telstar TX5",
        "Territory",
        "Thunderbird",
        "Torino",
        "Tourneo Connect",
        "Transit",
        "Transit Custom",
        "V-8",
        "Zephyr"
    ],
    "Holden": [
        "1 Tonne",
        "Acadia",
        "Adventra",
        "Apollo",
        "Astra",
        "Barina",
        "Barina Spark",
        "Belmont",
        "Berlina",
        "Brock",
        "Brougham",
        "Calais",
        "Caprice",
        "Captiva",
        "Cascada",
        "Colorado",
        "Colorado 7",
        "Combo",
        "Commodore",
        "Crewman",
        "Cruze",
        "EH",
        "EJ",
        "EK",
        "Epica",
        "Equinox",
        "FB",
        "FC",
        "FE",
        "FJ",
        "Frontera",
        "FX",
        "Gemini",
        "HD",
        "HR",
        "Insignia",
        "Jackaroo",
        "Kingswood",
        "Malibu",
        "Monaro",
        "Monterey",
        "Nova",
        "One tonner",
        "Overlander",
        "Premier",
        "Rodeo",
        "Sandman",
        "Spark",
        "Statesman",
        "Suburban",
        "Sunbird",
        "Tigra",
        "Torana",
        "Trailblazer",
        "Trax",
        "Ute",
        "Vectra",
        "VG",
        "Viva",
        "WB",
        "Zafira"
    ],
    "Honda": [
        "Accord",
        "Accord Euro",
        "Beat",
        "City",
        "Civic",
        "CR-V",
        "CR-Z",
        "CRX",
        "Fit",
        "HR-V",
        "Insight",
        "Integra",
        "Jazz",
        "Legend",
        "MDX",
        "NSX",
        "Odyssey",
        "Prelude",
        "S2000",
        "S660",
        "S800"
    ],
    "Hyundai": [
        "Accent",
        "Coupe",
        "Elantra",
        "Elantra LaVita",
        "Excel",
        "Genesis",
        "Getz",
        "Grandeur",
        "i20",
        "i30",
        "i40",
        "i45",
        "iLoad",
        "iMax",
        "IONIQ",
        "ix35",
        "Kona",
        "Lantra",
        "Mighty",
        "Santa Fe",
        "Sonata",
        "Terracan",
        "Tiburon",
        "Trajet",
        "Tucson",
        "Veloster"
    ],
    "Isuzu": ["D-MAX", "F Series", "Gemini", "Giga", "MU", "MU-X", "N Series"],
    "Jaguar": [
        "240",
        "340",
        "420",
        "420G",
        "E Type",
        "E-PACE",
        "F-PACE",
        "F-TYPE",
        "I-PACE",
        "Mark II",
        "Mark IV",
        "Mark IX",
        "Mark V",
        "Mark VII",
        "Mark X",
        "S Type",
        "S-Type",
        "Sovereign",
        "V12",
        "X-Type",
        "XE",
        "XF",
        "XJ",
        "XJ-SC",
        "XJ220",
        "XJ4.2",
        "XJ5.3",
        "XJ6",
        "XJ8",
        "XJR",
        "XJS",
        "XK",
        "XK120",
        "XK140",
        "XK150",
        "XK8",
        "XKR"
    ],
    "Jeep": [
        "Cherokee",
        "CJ6",
        "CJ7",
        "Commander",
        "Compass",
        "Grand Cherokee",
        "Kaiser",
        "Patriot",
        "Renegade",
        "Wrangler"
    ],
    "Kia": [
        "Carnival",
        "Cerato",
        "Grand Carnival",
        "K2700",
        "K2900",
        "Magentis",
        "Mentor",
        "Optima",
        "Picanto",
        "Pregio",
        "pro_cee'd",
        "Rio",
        "Rondo",
        "Sorento",
        "Soul",
        "Spectra",
        "Sportage",
        "Stinger"
    ],
    "Land Rover": [
        "110",
        "Defender",
        "Discovery",
        "Discovery 3",
        "Discovery 4",
        "Discovery Sport",
        "Freelander",
        "Freelander 2",
        "Range Rover",
        "Range Rover Evoque",
        "Range Rover Sport",
        "Range Rover Velar",
        "Range Rover Vogue",
        "Rover"
    ],
    "Lexus": [
        "CT",
        "ES",
        "GS",
        "IS",
        "LC",
        "LFA",
        "LS",
        "LX",
        "NX",
        "RC",
        "RX",
        "SC",
        "UX"
    ],
    "Lotus": [
        "Eclat",
        "Elan",
        "Elise",
        "Esprit",
        "Europa",
        "Evora",
        "Exige",
        "Seven",
        "Super Seven"
    ],
    "Mazda": [
        "121",
        "1300",
        "2",
        "3",
        "323",
        "6",
        "626",
        "808",
        "929",
        "B2200",
        "B2600",
        "Bongo",
        "Bravo",
        "BT-50",
        "Capella",
        "Capella RX-2",
        "CX-3",
        "CX-5",
        "CX-7",
        "CX-8",
        "CX-9",
        "E1800",
        "E2000",
        "E2200",
        "Eunos 500",
        "Eunos 800",
        "MPV",
        "MX-5",
        "MX-6",
        "Premacy",
        "R100",
        "RX-3",
        "RX-4",
        "RX-5",
        "RX-7",
        "RX-8",
        "Tribute"
    ],
    "MG": [
        "A",
        "B",
        "C",
        "F",
        "GS",
        "Magnette",
        "MG3",
        "MG6",
        "MG6 PLUS",
        "Midget",
        "RV8",
        "TC",
        "TD",
        "TF",
        "ZR",
        "ZS",
        "ZT"
    ],
    "MINI": [
        "Cabrio",
        "Clubman",
        "Convertible",
        "Countryman",
        "Coupe",
        "Hatch",
        "Paceman",
        "Roadster"
    ],
    "Mercedes-Benz": [
        "(no group)",
        "A Class",
        "AMG GT",
        "B Class",
        "C Class",
        "CL Class",
        "CLA Class",
        "CLC Class",
        "CLK Class",
        "CLS Class",
        "E Class",
        "G Class",
        "GL Class",
        "GLA Class",
        "GLC Class",
        "GLE Class",
        "GLS Class",
        "M Class",
        "Maybach",
        "R Class",
        "S Class",
        "SL Class",
        "SLC Class",
        "SLK Class",
        "SLS Class",
        "V Class",
        "Vans",
        "X Class"
    ],
    "Mitsubishi": [
        "3000GT",
        "380",
        "Airtrek",
        "ASX",
        "Canter",
        "Challenger",
        "Colt",
        "Delica",
        "Eclipse Cross",
        "Express",
        "Fighter",
        "FTO",
        "Galant",
        "Grandis",
        "GTO",
        "I-car",
        "i-MiEV",
        "Lancer",
        "Legnum",
        "Magna",
        "MiniCab",
        "Mirage",
        "Nimbus",
        "Outlander",
        "Pajero",
        "Pajero iO",
        "Pajero Sport",
        "Ralliart Evo",
        "Ralliart Magna",
        "ROSA BUS",
        "Sigma",
        "Sigma Scorpion",
        "Starion",
        "Starwagon",
        "Triton",
        "Verada"
    ],
    "Nissan": [
        "180SX",
        "200SX",
        "280ZX",
        "300ZX",
        "350Z",
        "370Z",
        "Almera",
        "Altima",
        "Atlas",
        "Bluebird",
        "Cedric",
        "Cima",
        "Civilian",
        "Cube",
        "Dualis",
        "e-NV200",
        "Elgrand",
        "Exa",
        "Fuga",
        "Gloria",
        "GT-R",
        "Infiniti",
        "JUKE",
        "LEAF",
        "Maxima",
        "Micra",
        "Murano",
        "Navara",
        "Note",
        "NX",
        "Pathfinder",
        "Patrol",
        "Pintara",
        "Pulsar",
        "QASHQAI",
        "S Cargo",
        "Serena",
        "Silvia",
        "Skyline",
        "Stagea",
        "Sunny",
        "Terrano",
        "Terrano II",
        "Tiida",
        "Titan",
        "Titan XD",
        "Urvan",
        "X-Trail"
    ],
    "Peugeot": [
        "2008",
        "205",
        "206",
        "207",
        "208",
        "3008",
        "306",
        "307",
        "308",
        "4007",
        "4008",
        "405",
        "406",
        "407",
        "5008",
        "504",
        "505",
        "508",
        "806",
        "Expert",
        "Partner",
        "RCZ"
    ],
    "Porsche": [
        "356",
        "356A",
        "356B",
        "356C",
        "550",
        "718",
        "911",
        "911 Carrera",
        "912",
        "914",
        "924",
        "928",
        "930",
        "944",
        "968",
        "Boxster",
        "Cayenne",
        "Cayman",
        "Macan",
        "Panamera"
    ],
    "Renault": [
        "Captur",
        "Clio",
        "Fluence",
        "Fuego",
        "Grand scenic",
        "Kangoo",
        "Koleos",
        "Laguna",
        "Latitude",
        "Master",
        "Megane",
        "R4",
        "Scenic",
        "Scenic RX4",
        "Trafic",
        "Virage",
        "Zoe"
    ],
    "Subaru": [
        "Brumby",
        "BRZ",
        "Forester",
        "Impreza",
        "L Series",
        "Legacy",
        "Leone",
        "Levorg",
        "Liberty",
        "Outback",
        "Sportswagon",
        "Tribeca",
        "WRX",
        "XV"
    ],
    "Suzuki": [
        "Alto",
        "APV",
        "Baleno",
        "Cappuccino",
        "Carry",
        "Celerio",
        "Grand Vitara",
        "Ignis",
        "Jimny",
        "Kizashi",
        "Liana",
        "LJ50",
        "Mighty Boy",
        "S-Cross",
        "Sierra",
        "Swift",
        "SX4",
        "Vitara",
        "X-90",
        "XL-7"
    ],
    "Tesla": ["Model S", "Model X", "Roadster"],
    "Toyota": [
        "4Runner",
        "86",
        "Alphard",
        "Aristo",
        "Aurion",
        "Avalon",
        "Avensis Verso",
        "bB",
        "C-HR",
        "Caldina",
        "Camry",
        "Camry Vienta",
        "Celica",
        "Century",
        "Chaser",
        "Coaster",
        "Corolla",
        "Corona",
        "Corona Avante",
        "Cressida",
        "Crown",
        "Dyna",
        "Echo",
        "Esquire",
        "Estima",
        "FJ Cruiser",
        "Fortuner",
        "Grand Hiace",
        "Granvia",
        "Harrier",
        "Hiace",
        "Hiace SBV",
        "Hilux",
        "Hilux 4Runner",
        "Hilux Surf",
        "IQ",
        "Kluger",
        "Landcruiser",
        "Landcruiser Prado",
        "Lexcen",
        "Liteace",
        "Mark II",
        "Mark X",
        "MR2",
        "Noah",
        "Paseo",
        "Porte",
        "Prius",
        "Prius C",
        "Prius V",
        "Ractis",
        "RAV4",
        "Regius",
        "Rukus",
        "Sera",
        "Soarer",
        "Spacia",
        "Spade",
        "Sprinter",
        "Starlet",
        "Supra",
        "T-18",
        "Tarago",
        "Tercel",
        "Townace",
        "Tundra",
        "Vellfire",
        "Vienta",
        "Voxy",
        "Yaris"
    ],
    "Volkswagen": [
        "1600",
        "181",
        "Amarok",
        "Arteon",
        "Beetle",
        "Bora",
        "Caddy",
        "Caravelle",
        "CC",
        "Corrado",
        "Crafter",
        "Eos",
        "Golf",
        "Jetta",
        "Karmann Ghia",
        "Kombi",
        "Kombi Transporter",
        "Multivan",
        "Passat",
        "Polo",
        "Scirocco",
        "Superbug",
        "Tiguan",
        "Touareg",
        "Transporter",
        "up!"
    ],
    "Volvo": [
        "122S",
        "144",
        "240",
        "242",
        "245",
        "262",
        "264",
        "440",
        "740",
        "850",
        "940",
        "960",
        "C30",
        "C70",
        "Cross country",
        "P1800",
        "S40",
        "S60",
        "S70",
        "S80",
        "S90",
        "V40",
        "V40 Cross Country",
        "V50",
        "V60",
        "V60 Cross Country",
        "V70",
        "V90 Cross Country",
        "XC40",
        "XC60",
        "XC70",
        "XC90"
    ],
    "Abarth": ["124", "500", "595", "695"],
    "AC": ["Cobra"],
    "Alpina": ["B3", "B4", "B5", "B7"],
    "Alpine-Renault": ["GTA"],
    "Alpine": ["A110"],
    "Aprilia": ["Caponord 1200 Rally"],
    "Armstrong Siddeley": ["20HP"],
    "Aston Martin": [
        "DB11",
        "DB5",
        "DB6",
        "DB7",
        "DB9",
        "DBS",
        "Rapide",
        "V12",
        "V8",
        "Vanquish",
        "Vantage",
        "Virage"
    ],
    "Austin Healey": ["100", "3000", "Sprite"],
    "Austin": ["1800", "7", "Lancer"],
    "Bedford": ["Cf", "CFL"],
    "Bentley": [
        "3 1/2 Litre",
        "Arnage",
        "Azure",
        "Bentayga",
        "Brooklands",
        "Continental",
        "Eight",
        "Flying Spur",
        "Mark VI",
        "Mulsanne",
        "R Type",
        "S Type",
        "T",
        "T2",
        "Turbo"
    ],
    "Berkeley": ["S-E 492"],
    "Bufori": ["MK I"],
    "Buick": [
        "90",
        "Centurion",
        "Century",
        "Electra",
        "GS400",
        "Regal",
        "Riviera",
        "Skylark",
        "Special",
        "Super"
    ],
    "Bullet": ["Roadster"],
    "Cadillac": [
        "CTS",
        "De Ville",
        "Eldorado",
        "Escalade",
        "Fleetwood",
        "Series 314",
        "Series 62",
        "Series 6200",
        "Seville"
    ],
    "Caterham": ["Super 7"],
    "Chery": ["J1", "J11", "J3"],
    "Chrysler": [
        "300",
        "300c",
        "62",
        "Crossfire",
        "Crown Imperial",
        "Galant",
        "Grand Voyager",
        "Neon",
        "New Yorker",
        "PT Cruiser",
        "Sebring",
        "Valiant",
        "Valiant Charger",
        "Valiant Regal",
        "Voyager",
        "Windsor"
    ],
    "CSV": ["Volanti"],
    "Custom": [
        "Beach Buggy",
        "Clubman",
        "Hot Rod",
        "Kit Car",
        "Race Car",
        "Replica"
    ],
    "Daimler": [
        "2.5LT",
        "250",
        "3.6 Litre",
        "4 Litre",
        "Double 6",
        "DS420",
        "Majestic",
        "Sovereign",
        "SP250"
    ],
    "De Tomaso": ["Pantera"],
    "DeSoto": ["Custom", "Diplomat", "FireDome", "Fireflite"],
    "Dodge": [
        "440",
        "AT4",
        "Avenger",
        "Caliber",
        "Challenger",
        "Charger",
        "Coronet",
        "Custom Royal",
        "D5N",
        "Dakota",
        "Journey",
        "Luxury Liner",
        "Model 30",
        "Nitro",
        "Phoenix",
        "Pickup",
        "Ram",
        "Viper"
    ],
    "Durant": ["Rugby"],
    "Eunos": ["30X", "500", "800", "Roadster"],
    "Ford Performance Vehicles": [
        "F6",
        "F6 E",
        "F6 Tornado",
        "F6 Typhoon",
        "F6X",
        "Force 8",
        "GS",
        "GT",
        "GT F",
        "GT-E",
        "GT-P",
        "Pursuit",
        "Super Pursuit"
    ],
    "Foton": ["AUMARK", "Sauvana", "Tunland", "View"],
    "FSM": ["Niki"],
    "Fulda": ["Fuldamobil"],
    "Fuso": ["Canter", "Rosa"],
    "Galloway": ["10/20"],
    "Geely": ["MK"],
    "GMC": ["Pickup", "Sierra", "Suburban", "Yukon"],
    "Goggomobil": ["Dart"],
    "Great Wall": ["H6", "SA220", "Steed", "V200", "V240", "X200", "X240"],
    "Haval": ["H2", "H6", "H8", "H9"],
    "HDT": ["Aero", "VC Retro", "VK Retro", "VL Corsa", "VL Group A", "VL Retro"],
    "Higer": ["H12300S Roadboss"],
    "Hillman": ["Hunter"],
    "Hino": ["300 Series", "500 Series", "700 Series", "DUTRO"],
    "Holden Special Vehicles": [
        "Avalanche",
        "Clubsport",
        "Colorado",
        "Commodore",
        "Coupe",
        "Grange",
        "GTS",
        "Jackaroo",
        "Maloo",
        "Senator",
        "Statesman",
        "SV Clubsport",
        "SV99",
        "VXR",
        "W427",
        "XU6"
    ],
    "Hudson": ["Terraplane"],
    "Humber": ["Vogue"],
    "Hummer": ["H1", "H2", "H3"],
    "Hupmobile": ["Century Six", "Series R"],
    "Infiniti": [
        "EX37",
        "FX30d",
        "FX37",
        "FX50",
        "G35",
        "G37",
        "M30",
        "M30d",
        "M35h",
        "M37",
        "Q30",
        "Q50",
        "Q60",
        "Q70",
        "QX30",
        "QX70",
        "QX80"
    ],
    "Iveco": ["Daily", "Daily Minibus", "Eurocargo", "Stralis"],
    "JBA": ["Falcon"],
    "Jensen": ["541R", "Interceptor"],
    "JMC": ["Vigus"],
    "Koenigsegg": ["Agera", "Regera"],
    "KTM": ["X-BOW"],
    "Lada": ["Niva"],
    "Lamborghini": [
        "Aventador",
        "Countach",
        "Diablo",
        "Espada",
        "Gallardo",
        "Huracan",
        "Jarama",
        "Murcielago",
        "Urus"
    ],
    "Lancia": ["Aurelia", "Beta", "Delta", "Fulvia"],
    "LDV": ["D90", "G10", "T60", "V80"],
    "Leyland": ["Mini", "Moke", "P76"],
    "Lincoln": ["Continental", "Premier", "Town Car"],
    "London Taxi Company": ["TX4"],
    "Mack": ["Trident"],
    "Mahindra": ["Genio", "PIK-UP", "XUV500"],
    "Marcos": ["GT"],
    "Maserati": [
        "3200GT",
        "Biturbo",
        "Coupe",
        "Ghibli",
        "GranCabrio",
        "Gransport",
        "GranTurismo",
        "Karif",
        "Kyalami",
        "Levante",
        "Merak",
        "Quattroporte",
        "Shamal",
        "Spyder"
    ],
    "Matra": ["Murena"],
    "McLaren": [
        "540C",
        "570GT",
        "570S",
        "600LT",
        "650S",
        "675LT",
        "720S",
        "MP4-12C",
        "Senna"
    ],
    "Mercury": ["Eight", "Monarch", "Montego", "Monterey"],
    "Morgan": ["4/4", "Plus 4", "PLUS 8", "Roadster"],
    "Morris": [
        "850",
        "Eight",
        "Major",
        "Marina",
        "Mini",
        "Mini Cooper",
        "Minor",
        "Moke",
        "SIX"
    ],
    "Oldsmobile": [
        "442",
        "60 Series",
        "Cutlass",
        "Delta 88",
        "Jetstar I",
        "Ninety-Eight",
        "Toronado"
    ],
    "Opel": ["Astra", "Corsa", "GT", "Insignia", "Zafira"],
    "Packard": ["Clipper"],
    "Plymouth": [
        "Barracuda",
        "Belvedere",
        "Cranbrook",
        "Cuda",
        "Duster",
        "Fury",
        "Satellite",
        "Signet",
        "Valiant"
    ],
    "Pontiac": [
        "Catalina",
        "Fiero",
        "Firebird",
        "GTO",
        "Le Mans",
        "Parisienne",
        "Silver Streak",
        "Star Chief",
        "Tempest"
    ],
    "Proton": [
        "Exora",
        "Gen 2",
        "Jumbuck",
        "Persona",
        "Preve",
        "S16",
        "Satria",
        "Savvy"
    ],
    "Purvis": ["Eureka"],
    "RAM": ["1500", "2500", "3500"],
    "Rambler": ["American 440", "Javelin", "Rebel"],
    "Riley": ["1.5 Litre", "2.5 Litre", "Kestrel"],
    "Rolls-Royce": [
        "20/25",
        "Corniche",
        "Dawn",
        "Ghost",
        "Phantom",
        "Silver Cloud",
        "Silver Seraph",
        "Silver Shadow",
        "Silver Spirit",
        "Silver Spur",
        "Silver Wraith",
        "Wraith"
    ],
    "Rover": [
        "3 Litre",
        "3.5 LT",
        "3500",
        "416i",
        "75",
        "Metro",
        "Mini",
        "P4",
        "Quintet"
    ],
    "Saab": ["9-3", "9-5", "900", "9000", "900i", "96"],
    "Seat": ["Ibiza"],
    "Singer": ["Nine"],
    "SKODA": [
        "Fabia",
        "Karoq",
        "Kodiaq",
        "Octavia",
        "Rapid",
        "Roomster",
        "Superb",
        "Yeti"
    ],
    "smart": ["city-coupe", "forfour", "fortwo", "roadster"],
    "SsangYong": [
        "Actyon Sports",
        "Korando",
        "Kyron",
        "Musso",
        "Rexton",
        "Stavic",
        "Tivoli",
        "Tivoli XLV"
    ],
    "Standard": ["V3"],
    "Studebaker": ["Hawk", "Lark"],
    "Sunbeam": ["Alpine", "Rapier", "Tiger"],
    "Tata": ["Safari", "Xenon"],
    "TRD": ["Aurion", "Hilux"],
    "Triumph": [
        "12/50",
        "2000",
        "2500",
        "Dolomite",
        "Herald",
        "Southern Cross",
        "Spitfire",
        "Stag",
        "TR3",
        "TR3A",
        "TR4",
        "TR4A",
        "TR5",
        "TR6",
        "TR7",
        "TR8"
    ],
    "TVR": ["390se", "Chimaera", "Griffith", "S Series"],
    "Ultima": ["GTR"],
    "Vauxhall": ["ASX", "Victor", "Wyvern"],
    "Westfield": ["Sei"],
    "Willys": ["64", "Americar", "Jeep", "Overland"],
    "ZX Auto": ["Grand Tiger"]
}

$.each(carData, function (key, value) {
    $('#makeSelect').append(
        $("<option>", { value: key, text: key })
    );
});

$("#makeSelect").change(function () {
    var textVal = $(this).val();
    var output = []

    for (var model in carData[textVal])
    {
        output.push('<option value ="' + carData[textVal][model] + '">' + carData[textVal][model] + '</option>');
    }

    // Set to array to reduce calls to the DOM
    $("#modelSelect").html(output.join(''));
});
    </script>
}