@* @model QueryResult<IReadOnlyList<Vehicle>> *@

@{
    ViewData["Title"] = "My Vehicles";
}

<div>
    <partial name="_UserProfilePartial"/>
</div>

<h2>My Vehicles</h2>

@*
<div>
    @{
        if (Model.PayLoad != null)
        {
            @foreach (var vehicle in Model.PayLoad)
             {
                 <p>@vehicle.Description.Title | @vehicle.Description.Registration</p>
             }
        }
    }
</div>
*@

<a asp-controller="CreateVehicle" asp-action="Index" class="btn btn-primary float-right">Add new</a>

@section Scripts
{
    <script>
        $("#myVehicles").addClass("active");
    </script>
} 