@model DistanceSearchDTO

@{
    ViewData["Title"] = "Search";
}

<div class="container">
    <br/>
    <h1> @ViewData["Title"] </h1>
    <br/>
    
    <form method="post" enctype="multipart/form-data" id="form">
        <partial name="_SearchBarPartial" />
    </form>
</div>
