@model ResultViewModel<BookingViewModel>


<div>
    <partial name="_UserProfilePartial"/>
</div>

<h2>Cancel Booking</h2>

<div class="card">
    <div class="card-header">
        <h4>Are you sure you want to cancel this booking?</h4>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" id="form" asp-action="CancelBooking">
            <p>Please note that you cannot undo this action, however you are free to book again at any time.</p>
            <a asp-controller="MyBookings" asp-action="ViewBooking" asp-route-id="@Model.Query.Payload.BookingId">Return to booking</a>
            <button class="btn btn-danger" type="submit">Confirm</button>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        $("#myBookings").addClass("active");
    </script>
}