@model BookingViewModel
@{
    ViewData["Title"] = "Edit Booking";
}

<h1>Edit Booking</h1>

<div class="container">
    <div class="alert alert-danger">
        This page has not yet been implemented.
    </div>
</div>



