 @model AddressDTO
 
 @{
     ViewData["Title"] = "Edit Address";
 }
 
 <h4>Parking Space Address</h4>
 <hr />
 
 <form method="post" enctype="multipart/form-data" id="form">
     
     <div asp-validation-summary="All" class="text-danger"></div>
     <div class="form-group">
         <label asp-for="Street"></label>
         <input asp-for="Street" class="form-control"/>
         <span asp-validation-for="Street" class="text-danger"></span>
     </div>
     <div class="form-group">
         <label asp-for="City"></label>
         <input asp-for="City" class="form-control"/>
         <span asp-validation-for="City" class="text-danger"></span>
     </div>
     <div class="form-group">
         <label asp-for="Zip"></label>
         <input asp-for="Zip" class="form-control"/>
         <span asp-validation-for="Zip" class="text-danger"></span>
     </div>
     <div class="form-group">
         <label asp-for="State"></label>
         <select asp-for="State" class="form-control">
             <option>New South Wales</option>
             <option>Victoria</option>
             <option>Queensland</option>
             <option>Western Australia</option>
             <option>South Australia</option>
             <option>Tasmania</option>
             <option>Northern Territory</option>
         </select>
         <span asp-validation-for="State" class="text-danger"></span>
     </div>

     <button type="submit" class="btn btn-primary mt-1">Submit</button>
     
 </form>
 
 @section Scripts {
     <partial name="_ValidationScriptsPartial"/>
 }
 
