@model CreateParkingSpaceDTO
@{
    ViewData["Title"] = "Register a New Parking Space";
}

<h1>Register New Parking Space</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <h4>Parking Space Address</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address.Street"></label>
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Zip"></label>
                <input asp-for="Address.Zip" class="form-control" />
                <span asp-validation-for="Address.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.State"></label>
                <input asp-for="Address.State" class="form-control" />
                <span asp-validation-for="Address.State" class="text-danger"></span>
            </div>

            <br />
            <h4>Parking Space Description</h4>
            <hr />

            <div class="form-group">
                <label asp-for="Description.Title"></label>
                <input asp-for="Description.Title" class="form-control" />
                <span asp-validation-for="Description.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description.Description"></label>
                <input asp-for="Description.Description" class="form-control" />
                <span asp-validation-for="Description.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description.ImageFile" class="control-label"></label>
                <input asp-for="Description.ImageFile" type="file" class="form-control" />
                <span asp-validation-for="Description.ImageFile" class="text-danger"></span>
            </div>

            <br />
            <h4>Booking Rates</h4>
            <hr />

            <div class="form-group">
                <label asp-for="BookingRate.HourlyRate"></label>
                <input asp-for="BookingRate.HourlyRate" class="form-control" />
                <span asp-validation-for="BookingRate.HourlyRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingRate.DailyRate"></label>
                <input asp-for="BookingRate.DailyRate" class="form-control" />
                <span asp-validation-for="BookingRate.DailyRate" class="text-danger"></span>
            </div>


            <br />
            <h4>Availability Hours</h4>
            <hr />

            <div class="form-group">
                <label asp-for="AvailableTime.AvailableFrom"></label>
                <input asp-for="AvailableTime.AvailableFrom" class="form-control" />
                <span asp-validation-for="AvailableTime.AvailableFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableTime.AvailableTo"></label>
                <input asp-for="AvailableTime.AvailableTo" class="form-control" />
                <span asp-validation-for="AvailableTime.AvailableTo" class="text-danger"></span>
            </div>

            <br />
            <h4>Available On Days</h4>
            <hr />

            <div class="form-group">
                <label asp-for="AvailableDays.IsAvailableMonday"></label>
                <input asp-for="AvailableDays.IsAvailableMonday" class="form-control" />
                <span asp-validation-for="AvailableDays.IsAvailableMonday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableDays.IsAvailableTuesday"></label>
                <input asp-for="AvailableDays.IsAvailableTuesday" class="form-control" />
                <span asp-validation-for="AvailableDays.IsAvailableTuesday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableDays.IsAvailableWednesday"></label>
                <input asp-for="AvailableDays.IsAvailableWednesday" class="form-control" />
                <span asp-validation-for="AvailableDays.IsAvailableWednesday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableDays.IsAvailableThursday"></label>
                <input asp-for="AvailableDays.IsAvailableThursday" class="form-control" />
                <span asp-validation-for="AvailableDays.IsAvailableThursday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableDays.IsAvailableFriday"></label>
                <input asp-for="AvailableDays.IsAvailableFriday" class="form-control" />
                <span asp-validation-for="AvailableDays.IsAvailableFriday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableDays.IsAvailableSaturday"></label>
                <input asp-for="AvailableDays.IsAvailableSaturday" class="form-control" />
                <span asp-validation-for="AvailableDays.IsAvailableSaturday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableDays.IsAvailableSunday"></label>
                <input asp-for="AvailableDays.IsAvailableSunday" class="form-control" />
                <span asp-validation-for="AvailableDays.IsAvailableSunday" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
